<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2017 Weston Berg (westieberg@gmail.com)

This file is part of Leer Copy.

Leer Copy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Leer Copy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Leer Copy.  If not, see <http://www.gnu.org/licenses/>.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >
	<Product Id="*" Name="Leer Copy" Language="1033" Version="2.0.0.0" Manufacturer="Weston Berg" UpgradeCode="PUT-GUID-HERE" >
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <!-- Sets logic for upgrading of application -->
		<MajorUpgrade 
      Schedule="afterInstallFinalize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
    <!-- MediaTemplate to create embedded cabinet -->
    <MediaTemplate EmbedCab="yes"/>
    <!-- Check the .NET framework version 3.5 or greater -->
    <Property Id="NETFRAMEWORK35" Secure="yes"/>
    <Property Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED" Secure="yes"/>
    <Condition Message="Leer copy requires .NET Framework 3.5 or later. Please install correct .NET Framework and retry.">
      <![CDATA[Installed OR ((NOT NETFRAMEWORK35) OR (NOT WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED))]]>
    </Condition>
    <Condition Message="Leer Copy was developed for 64-bit OS. 32-bit OS detected setup exiting...">
      <![CDATA[(VersionNT64)]]>
    </Condition>
    <!-- Check for Version 1.0.0.0. ProductCode = {F6821CF0-3AD7-452B-B669-DD919191395D} -->
    <Property Id="PRODUCTVERSION">
      <RegistrySearch Id="ProductVersionSearch" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{F6821CF0-3AD7-452B-B669-DD919191395D}" Name="DisplayVersion" Type="raw" Win64="yes" />
    </Property>
    <Condition Message="Leer Copy [PRODUCTVERSION] detected... Due to mistakes in initial MSI please uninstall previous version and retry 2.0 install. This problem was fixed and will not be propagated to future MSIs.">
      <![CDATA[NOT PRODUCTVERSION OR NOT PRODUCTVERSION = "1.0.0.0"]]>
    </Condition>
    <!-- Icon -->
    <Icon Id="LeerIcon.exe" SourceFile="$(var.Leer Copy.ProjectDir)LeerIcon.ico"/>
    <!-- Set Icon in Add/Remove Programs -->
    <Property Id="ARPPRODUCTICON" Value="LeerIcon.exe" />
    <!-- Start Menu Shortcut-->
    <DirectoryRef Id="ApplicationProgramsFolder" >
      <Component Id="LeerMenuShortcut" Guid="PUT-GUID-HERE" Win64="yes">
        <Shortcut Id="LeerStartMenuShortcut"
                  Name="Leer Copy"
                  Description="Screen copier app"
                  Target="[!LeerEXE]"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="LeerIcon.exe" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" 
                         Key="Software\Leer Copy" 
                         Name="installed"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!-- Desktop Shortcut -->
    <DirectoryRef Id="DesktopFolder">
        <Component Id="LeerDesktopShortcut" Guid="PUT-GUID-HERE" Win64="yes">
          <Shortcut Id="LeerDTShortcut" 
                    Name="Leer Copy"
                    Description="Screen copier app"
                    Target="[!LeerEXE]"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="LeerIcon.exe" />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue Root="HKCU" 
                         Key="Software\Leer Copy" 
                         Name="installed"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
        </Component>
    </DirectoryRef>
    <!-- UI -->
    <!-- ARPNOMODIFY referenced in WixUI_Minimal.wxs -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.Leer Copy.ProjectDir)GNU LICENSE.rtf"/>
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchDoc">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open Documentation" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing Leer Copy!" />
    <Property Id="WixShellExecTarget" Value="[#LeerHOWTO]" />
    <CustomAction Id="LaunchDoc" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <!-- Install Features -->
		<Feature Id="ProductFeature" Title="LeerCopySetup" Description="Installer for Leer Copy App" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DocumentationImages" />
      <ComponentGroupRef Id="ProductConfiguration"/>
      <ComponentRef Id="AppData" />
      <ComponentRef Id="LeerMenuShortcut" />
      <ComponentRef Id="LeerDesktopShortcut" />
		</Feature>
	</Product>
  <!-- Directory structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir" />
  </Fragment>
  <!-- Install dir -->
	<Fragment>
		<DirectoryRef Id="TARGETDIR" >
			<Directory Id="ProgramFiles64Folder" >
				<Directory Id="INSTALLFOLDER" Name="Leer Copy" />
			</Directory>
    </DirectoryRef>
  </Fragment>
  <!-- AppData dir -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="AppDataFolder">
        <Directory Id="LeerCopyAppData" Name="Leer Copy" >
          <Component Id="AppData" Guid="*">
            <RemoveFile Id="RemoveAppDataFiles" Name="log.txt" Directory="LeerCopyAppData" On="uninstall"/>
            <RemoveFolder Id="RemoveAppData" Directory="LeerCopyAppData" On="uninstall"/>
            <RegistryValue Root="HKCU" 
                           Key="Software\Leer Copy" 
                           Name="installed"
                           Type="integer"
                           Value="1"
                           KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <!-- Documentation images dir -->
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="Bin" Name="bin">
        <Directory Id="DocumentationImagesDir" Name="images" />
      </Directory>
    </DirectoryRef>
   </Fragment>
  <!-- Start Menu shortcut dir -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR" >
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Leer Copy" />
      </Directory>
    </DirectoryRef>
  </Fragment>
  <!-- Desktop shortcut dir -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR" >
      <Directory Id="DesktopFolder" />
		</DirectoryRef>
	</Fragment>
  <!-- Main product components -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER" >
			<Component Id="ProductComponent" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="LeerEXE" Name="$(var.Leer Copy.TargetFileName)" Source="$(var.Leer Copy.TargetPath)" ProcessorArchitecture="x64" KeyPath="yes" />
			</Component>
      <Component Id="ProductDocumentation" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="LeerHOWTO" Name="QuickStart.html" Source="$(var.Leer Copy.ProjectDir)..\QuickStart.html" ProcessorArchitecture="x64" KeyPath="yes" />
      </Component>
		</ComponentGroup>
  </Fragment>
  <!-- Product Configuration -->
  <Fragment>
    <ComponentGroup Id="ProductConfiguration" Directory="LeerCopyAppData">
      <Component Id="AppConfig" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="LeerCONFIG" Name="leerConfig.xml" Source="$(var.Leer Copy.ProjectDir)\bin\Debug\leerConfig.xml" ProcessorArchitecture="x64" />
        <RegistryValue Root="HKCU" 
                           Key="Software\Leer Copy" 
                           Name="installed"
                           Type="integer"
                           Value="1"
                           KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <!-- Images for documentation -->
  <Fragment>
    <ComponentGroup Id="DocumentationImages" Directory="DocumentationImagesDir">
      <Component Id="KeyboardPic" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="Keyboard" Name="KeyboardMouse.png" Source="$(var.Leer Copy.ProjectDir)..\bin\images\KeyboardMouse.png" ProcessorArchitecture="x64" />
      </Component>
      <Component Id="LeerIcon" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="Ico" Name="LeerIcon.ico" Source="$(var.Leer Copy.ProjectDir)..\bin\images\LeerIcon.ico" ProcessorArchitecture="x64" KeyPath="yes" />
      </Component>
      <Component Id="LeerPic" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="IcoPNG" Name="LeerIcon.png" Source="$(var.Leer Copy.ProjectDir)..\bin\images\LeerIcon.png" ProcessorArchitecture="x64" KeyPath="yes" />
      </Component>
      <Component Id="Selection" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="AreaSelect" Name="Selection.png" Source="$(var.Leer Copy.ProjectDir)..\bin\images\Selection.png" ProcessorArchitecture="x64" />
      </Component>
      <Component Id="SettingsOne" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="Features" Name="SettingsFeaturesOpen.png" Source="$(var.Leer Copy.ProjectDir)..\bin\images\SettingsFeaturesOpen.png" ProcessorArchitecture="x64" />
      </Component>
      <Component Id="SettingsTwo" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="Settings" Name="SettingsWindow.png" Source="$(var.Leer Copy.ProjectDir)..\bin\images\SettingsWindow.png" ProcessorArchitecture="x64" />
      </Component>
      <Component Id="Tips" Guid="PUT-GUID-HERE" Win64="yes" >
        <File Id="TipsArea" Name="Tips.png" Source="$(var.Leer Copy.ProjectDir)..\bin\images\Tips.png" ProcessorArchitecture="x64" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
